# Local and Private Variables
*.venv
*.env
*.tfvars
*explore.ipynb

# Logs and Logging-Related
tmp/logs/*
tmp/data/*
*.parquet
*.feather
*.log


# Python Module Data
#(e.g __pychache__ directories)
__pycache__/
**/__pycache__/
*.loc
*.pytest_cache
*.DS_Store

# Terraform
*.tfstate
*.tfstate.backup
*/.terraform
.terraform.lock.hcl
*.tfvars