# Local and Private Variables
*.venv
*.env
*.tfvars

# Logs and Logging-Related
logs/*
data/*
*.parquet
*.feather

# Misc Module Data 
#(e.g __pycache__ directories)
*pychache*
*.loc

# Terraform
*.tfstate
*.tfstate.backup
*/.terraform
.terraform.lock.hcl
